<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	
	<!-- Website Title -->
	<title>Lyra - Privacy And Security Policy</title>
	
	<!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+-->
	<meta property="og:site_name" content="" /> <!-- website name -->
	<meta property="og:site" content="" /> <!-- website link -->
	<meta property="og:title" content=""/> <!-- title shown in the actual shared post -->
	<meta property="og:description" content="" /> <!-- description shown in the actual shared post -->
	<meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
	<meta property="og:url" content="" /> <!-- where do you want your post to link to -->
	<meta property="og:type" content="article" />
	
	<!-- SEO Meta Tags -->
	<meta name="description" content="Establish an awesome online presence for your SaaS application and convert visitors into buying customers with Lyra HTML landing page template.">
	<meta name="keywords" content="saas, software as a service, landing page, template, responsive, bootstrap, html, css, business, lead generation">
	
	<!-- Styles -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600" rel="stylesheet">
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/themify-icons.css" rel="stylesheet">
	<link href="css/animate.css" rel="stylesheet">
	<link href="css/swiper.css" rel="stylesheet">
	<link href="css/magnific-popup.css" rel="stylesheet">
	<link href="css/styles.css" rel="stylesheet">
	
	<!-- Favicon  -->
    <link rel="icon" href="images/favicon.png">
	
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
	
</head>
<body>
	
	<!-- Navigation -->
	<nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
		<div class="container">
			<div class="row">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header scrolling">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span> <span class="ti-menu"></span>
					</button>
					
					<!-- Text based logo -->
					<!-- Uncomment this section and comment Image based logo, to use a text logo instead of an image logo -->
					<!-- <a class="navbar-brand scrolling" href="#top">Lyra</a> -->
					
					<!-- Image based logo -->
					<a href="index.html" class="navbar-brand img-logo scrolling" title="Lyra SaaS App Landing Page Template">
						<img src="images/logo.png" alt="logo">
					</a>
				</div>
				
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a class="scrolling" href="index.html">Go Back</a>
						</li>
						<li class="navbar-call-us">
							<span class="ti-mobile"></span>Call Now: 031.720.488.377
						</li>
					</ul>
				</div> <!-- end of navbar collapse -->
			</div> <!-- end of row -->
		</div> <!-- end of container -->
	</nav><!-- end of navigation -->
	
	
	<!--- Header Privacy-->
	<div id="header-privacy">
		<div class="flex-container-wrapper"> <!-- IE fix for vertical alignment in flex box -->
			<div class="header-privacy-content">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h1><span class="ti-lock"></span>Privacy And Security Policy</h1>
						</div>
					</div> <!-- end of row -->
				</div> <!-- end of container -->
			</div> <!-- end of header privacy content -->
		</div> <!-- end of IE vertical alignment fix -->
	</div> <!-- end of header privacy -->
	
	
	<!-- Privacy Content -->
	<div id="privacy-content">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h4>PRIVATE DATA WE RECEIVE AND COLLECT</h4>
					<p>When you first register for a Lyra account, and when you use the Services, we collect some <a href="#">Personal Information</a> about you such as:</p>
					<div class="col-md-6">
						<ul>
							<li>The geographic area where you use your computer and mobile devices</li>
							<li>Your full name, username, and email address and other contact details</li>
							<li>A unique Lyra user ID (an alphanumeric string) which is assigned to you upon registration</li>
							<li>Other optional information as part of your account profile </li>
							<li>Your IP Address and, when applicable, timestamp related to your consent and confirmation of consent</li>
							<li>Other information submitted by you or your organizational representatives via various methods</li>
						</ul>
					</div>
					<div class="col-md-6">
						<ul>
							<li>Your billing address and any necessary other information to complete any financial transaction, and when making purchases through the Services, we may also collect your credit card or PayPal information</li>
							<li>User generated content (such as messages, posts, comments, pages, profiles, images, feeds or communications exchanged on the Supported Platforms)</li>
							<li>Images or other files that you may publish via our Services</li>
							<li>Information (such as messages, posts, comments, pages, profiles, images) we may receive relating to communications you send us, such as queries or comments concerning our Services</li>
						</ul>
					</div>
					<div class="clearfix"></div>
					<p>Lyra also automatically collects and receives certain information from your computer or mobile device, including the activities you perform on our Website, the Platforms, and the Applications, the type of hardware and software you are using (for example, your operating system or browser), and information obtained from cookies. For example, each time you visit the Website or otherwise use the Services, we automatically collect your IP address, browser and device type, access times, the web page from which you came, the regions from which you navigate the web page, and the web page(s) you access (as applicable).</p>
					<h4>HOW WE USE LYRA SAAS LANDING PAGE TEMPLATE DATA</h4>
					<p>Lyra SaaS Landing Page Template uses visitors' data for the following general purposes:</p>
					<div class="gray-background">
						<ol>
							<li>To identify you when you login to your account</li>
							<li>To enable us to operate the Services and provide them to you</li>
							<li>To verify your transactions and for purchase confirmation, billing, security, and authentication (including security tokens for communication with installed)</li>
							<li>To analyze the Website or the other Services and information about our visitors and users, including research into our user demographics and user behaviour in order to improve our content and Services</li>
							<li>To contact you about your account and provide customer service support, including responding to your comments and questions</li>
							<li>To share aggregate (non-identifiable) statistics about users of the Services to prospective advertisers and partners</li>
							<li>To keep you informed about the Services, features, surveys, newsletters, offers, surveys, newsletters, offers, contests and events we think you may find useful or which you have requested from us</li>
							<li>To sell or market Lyra Landing Page products and services to you</li>
							<li>To better understand your needs and the needs of users in the aggregate, diagnose problems, analyze trends, improve the features and usability of the Services, and better understand and market to our customers and users</li>
							<li>To keep the Services safe and secure</li>
							<li>We also use non-identifiable information gathered for statistical purposes to keep track of the number of visits to the Services with a view to introducing improvements and improving usability of the Services. We may share this type of statistical data so that our partners also understand how often people use the Services, so that they, too, may provide you with an optimal experience.</li>
						</ol>
					</div>
					<h4>CUSTOMER CONTENT WE PROCESS FOR OUR CUSTOMERS</h4>
					<p>Lyra is a HTML landing page template tool. By its nature, Services enable our customers to promote their products and services integrate with hundreds of business applications that they already use, all in one place.</p>
					<p>Services help our customers promote their products and services, marketing and advertising; engaging audiences; scheduling and publishing messages; and analyze the results.</p>
					<h4>CONSENT OF USING LYRA LANDING PAGE TEMPLATE</h4>
					<p>By using any of the Services, or submitting or collecting any Personal Information via the Services, you consent to the collection, transfer, storage disclosure, and use of your Personal Information in the manner set out in this Privacy Policy. If you do not consent to the use of your Personal Information in these ways, please stop using the Services.</p>
					<h4>COOKIES AND RELATED TECHNOLOGIES</h4>
					<p>Lyra Landing Page uses tracking technology on the landing page, in the Applications, and in the Platforms, including mobile application identifiers and a unique Hootsuite user ID to help us recognize you across different Services, to monitor usage and web traffic routing for the Services, and to customize and improve the Services. By visiting Lyra or using the Services you agree to the use of cookies in your browser and HTML-based emails. Cookies are small text files placed on your device when you visit a <a href="#">web site</a> in order to track use of the site and to improve your user experience.</p>
					<a class="read-more" href="index.html">Go Back ››</a>
				</div>
			</div> <!-- end of row -->
		</div> <!-- end of container -->
	</div> <!-- end of privacy content -->
	
	
	<!-- Footer -->
	<div id="footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<h4>Our Office Address</h4>
					<p>22 Innovative Area, San Francisco, Bay Area, CA 94043, USA</p>
				</div>
				<div class="col-sm-3">
					<h4>Contact Details</h4>
					<p>Tel: 0040 720 488 377; 0040 372 34 56 78 <a href="mailto:office@lyra.com">office@lyra.com</a>, <a href="#">www.lyra.com</a></p>
				</div>
				<div class="col-sm-3">
					<h4>Official Partners</h4>
					<p><a href="privacy-and-security-policy.html">Privacy and Security Policy</a>, <a href="terms-and-conditions.html">Terms and Conditions</a>, <a href="#">HostingPartner</a></p>
				</div>
				<div class="col-sm-3">
					<h4>Social Networks</h4>
					<a href="#"><span class="social-icons ti-facebook"></span></a>
					<a href="#"><span class="social-icons ti-twitter"></span></a>
					<a href="#"><span class="social-icons ti-google"></span></a>
					<a href="#"><span class="social-icons ti-linkedin"></span></a>
					<a href="#"><span class="social-icons ti-instagram"></span></a>
				</div>
				<div class="clearfix"></div>
				<div class="col-md-12">
					<p class="copyright">Copyright 2017 © Lyra - SaaS App Landing Page Template by <a href="#">Inovatik</a> | <a class="back-to-top scrolling" href="#header-privacy">Back to Top <span class="ti-arrow-circle-up"></span></a></p>
				</div>
			</div> <!-- end of row -->
		</div> <!-- end of container -->
	</div> <!-- end of footer -->
	
	
	<!-- Scripts -->
	<script src="js/jquery-2.2.4.min.js" type="text/javascript"></script> <!-- jQuery v2.2.4 - necessary for Bootstrap's JavaScript plugins -->
	<script src="js/bootstrap.min.js" type="text/javascript"></script> <!-- Bootstrap v3.3.7 -->
	<script src="js/jquery.easing.min.js" type="text/javascript"></script> <!-- jQuery Easing v1.3 for smooth scrolling between anchors-->
	<script src="js/validator.min.js" type="text/javascript"></script> <!--  Validate the Contact Form -->
	<script src="js/morphext.min.js" type="text/javascript"></script> <!-- Rotating text in the header-->
	<script src="js/swiper.min.js" type="text/javascript"></script> <!-- Swiper v3.4.1 for testimonials slider -->
	<script src="js/jquery.magnific-popup.js" type="text/javascript"></script> <!-- Magnific Popup v1.1.0 for lightboxes -->
	<script src="js/scripts.js" type="text/javascript"></script> <!--  Validate the Contact Form -->
</body>
</html>