<div>

  {% if site.facebook %}
  <a href="http://facebook.com/{{ site.facebook }}" target="_blank" class="social-icon si-small si-borderless si-facebook">
    <i class="icon-facebook"></i>
    <i class="icon-facebook"></i>
  </a>
  {% endif %}

  {% if site.twitter %}
  <a href="http://twitter.com/{{ site.twitter }}" target="_blank" class="social-icon si-small si-borderless si-twitter">
    <i class="icon-twitter"></i>
    <i class="icon-twitter"></i>
  </a>
  {% endif %}

  {% if site.pinterest %}
  <a href="http://www.pinterest.com/{{ site.pinterest }}" target="_blank" class="social-icon si-small si-borderless si-pinterest">
    <i class="icon-pinterest"></i>
    <i class="icon-pinterest"></i>
  </a>
  {% endif %}

  {% if site.github %}
  <a href="http://github.com/{{ site.github }}" target="_blank" class="social-icon si-small si-borderless si-github">
    <i class="icon-github"></i>
    <i class="icon-github"></i>
  </a>
  {% endif %}

  {% if site.linkedin %}
  <a href="http://linkedin.com/company/{{ site.linkedin }}" target="_blank" class="social-icon si-small si-borderless si-linkedin">
    <i class="icon-linkedin"></i>
    <i class="icon-linkedin"></i>
  </a>
  {% endif %}

  {% if site.youtube %}
  <a href="https://youtube.com/channel/{{ site.youtube }}" target="_blank" class="social-icon si-small si-borderless si-youtube">
    <i class="icon-youtube"></i>
    <i class="icon-youtube"></i>
  </a>
  {% endif %}

</div>
