<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	
	<!-- Website Title -->
	<title>Lyra - SaaS App Landing Page Template</title>
	
	<!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+-->
	<meta property="og:site_name" content="" /> <!-- website name -->
	<meta property="og:site" content="" /> <!-- website link -->
	<meta property="og:title" content=""/> <!-- title shown in the actual shared post -->
	<meta property="og:description" content="" /> <!-- description shown in the actual shared post -->
	<meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
	<meta property="og:url" content="" /> <!-- where do you want your post to link to -->
	<meta property="og:type" content="article" />
	
	<!-- SEO Meta Tags -->
	<meta name="description" content="Establish an awesome online presence for your SaaS application and convert visitors into buying customers with Lyra HTML landing page template.">
	<meta name="keywords" content="saas, software as a service, landing page, template, responsive, bootstrap, html, css, business, lead generation">
	
	<!-- Styles -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600" rel="stylesheet">
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/themify-icons.css" rel="stylesheet">
	<link href="css/animate.css" rel="stylesheet">
	<link href="css/swiper.css" rel="stylesheet">
	<link href="css/magnific-popup.css" rel="stylesheet">
	<link href="css/styles.css" rel="stylesheet">
	
	<!-- Favicon  -->
    <link rel="icon" href="images/favicon.png">
	
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
	
</head>
<body>
	
	<div class="main-wrapper"> <!-- used to force scroll-bar in order to keep the preloader in the center -->
		<!-- Preloader -->
		<div id="preloader">
			<div id="status">&nbsp;</div>
		</div>
		
		
		<!-- Navigation -->
		<nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
			<div class="container">
				<div class="row">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header scrolling">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span> <span class="ti-menu"></span>
						</button>
						
						<!-- Text based logo -->
						<!-- Uncomment this section and comment Image based logo, to use a text logo instead of an image logo -->
						<!-- <a class="navbar-brand scrolling" href="#top">Lyra</a> -->
						
						<!-- Image based logo -->
						<a href="index.html" class="navbar-brand img-logo scrolling" title="Lyra SaaS App Landing Page Template">
							<img src="images/logo.png" alt="logo">
						</a>
					</div>
					
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right">
							<li>
								<a class="scrolling" href="#header">Home</a>
							</li>
							<li>
								<a class="scrolling" href="#features">Features</a>
							</li>
							<li>
								<a class="scrolling" href="#description">Description</a>
							</li>
							<li>
								<a class="scrolling" href="#pricing">Pricing</a>
							</li>
							<li>
								<a class="scrolling" href="#video">Video</a>
							</li>
							<li>
								<a class="scrolling" href="#testimonials">Testimonials</a>
							</li>
							<li>
								<a class="scrolling" href="#contact">Contact</a>
							</li>
							<li class="navbar-call-us">
								<span class="ti-mobile"></span>Call Now: 031.720.488.377
							</li>
						</ul>
					</div> <!-- end of navbar collapse -->
				</div> <!-- end of row -->
			</div> <!-- end of container -->
		</nav> <!-- end of navigation -->
		
		
		<!--- Header -->
		<header id="header">
			<div class="flex-container-wrapper"> <!-- IE fix for vertical alignment in flex box -->
				<div class="header-content">
					<div class="container">
						<div class="row">
							<div class="col-md-6">
								<div class="embed-responsive embed-responsive-16by9">
									<iframe src="https://www.youtube.com/embed/e6TWX-6s13s" frameborder="0" allowfullscreen></iframe>
								</div>
							</div>
							<div class="col-md-6">
								<h1>SaaS App Landing Page <span id="js-rotating">Template, Business, Marketing, Sales</span></h1>
								<p>Register and use Lyra to manage your customer relationships and sales funnel. Lyra is available based on a flexible pricing policy that will accommodate any budget size</p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="header-buttons">
									<a class="button solid" href="#">DISCOVER</a> <a class="button transparent" href="#">REGISTER</a>
								</div>
							</div>
						</div> <!-- end of row -->
					</div> <!-- end of container -->
				</div> <!-- end of header-content -->
			</div> <!-- end of flex-container-wrapper -->
		</header> <!-- end of header -->
		
		
		<!-- Customers -->
		<div id="customers">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<img class="logo-customers-1" src="http://placehold.it/354x60/0efc73/fff/" alt="customer logo 1">
						<img class="logo-customers-2" src="http://placehold.it/332x60/0efc73/fff/" alt="customer logo 2">
						<img class="logo-customers-3" src="http://placehold.it/252x56/0efc73/fff/" alt="customer logo 3">
						<img class="logo-customers-4" src="http://placehold.it/294x58/0efc73/fff/" alt="customer logo 4">
						<img class="logo-customers-5" src="http://placehold.it/286x64/0efc73/fff/" alt="customer logo 5">
						<img class="logo-customers-6" src="http://placehold.it/302x54/0efc73/fff/" alt="customer logo 6">
					</div>
				</div> <!-- end of row -->
			</div> <!-- end of container -->
		</div> <!-- end of customers -->
		
		
		<!-- Features -->
		<div id="features">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h2>Packed With Awesome Features</h2>
						<p class="sub-heading">To better understand Lyra's offering check out the features under each tab Design, Create and Manage</p>
					</div>
					<div class="col-md-12">
						
						<!-- Tabs -->
						<div class="features-tabs">
						<ul class="nav nav-pills nav-justified">
							<li class="active"><a href="#tab_a" data-toggle="tab">DESIGN</a></li>
							<li><a href="#tab_b" data-toggle="tab">CREATE</a></li>
							<li><a href="#tab_c" data-toggle="tab">MANAGE</a></li>
						</ul>
						</div>
						<div class="tab-content">
							
							<!-- Tab_a -->
							<div class="tab-pane fade in active" id="tab_a">
								<div class="col-md-4 text-center">
									<span class="features-icons ti-download"></span>
									<h4>Solid Foundation</h4>
									<p>Need a solid foundation for your business growth plans? Lyra will help you manage sales and meet your current business goals</p>
								</div>
								<div class="col-md-4 text-center">
									<span class="features-icons ti-layers-alt"></span>
									<h4>Better Performance</h4>
									<p>Lyra's mission is to help you make sales easier and improve your company's overall KPIs. Register and start using it today</p>
								</div>
								<div class="col-md-4 text-center">
									<span class="features-icons ti-server"></span>
									<h4>Unlimited Storage</h4>
									<p>We understand you data is precious and it needs a lot of storage space so we're offering unlimited cloud storage for all plans</p>
								</div>
								<div class="clearfix"></div> <!-- used to prevent features cells breaking layout on tablet viewport size -->
								<div class="col-md-4 text-center">
									<span class="features-icons ti-package"></span>
									<h4>Solution In A Box</h4>
									<p>Our team's technical know-how and business experience helped us implement every feature you enjoy in this popular SaaS app</p>
								</div>
								<div class="col-md-4 text-center">
									<span class="features-icons ti-wallet"></span>
									<h4>Electronic Wallet</h4>
									<p>You can make payments for monthly and yearly usage. Use your credit card or paypal account and watch for our monthly discounts</p>
								</div>
								<div class="col-md-4 text-center">
									<span class="features-icons ti-harddrives"></span>
									<h4>Great Scalability</h4>
									<p>Scale your projects at the touch of a button with Lyra's powerful ScaleNow feature. It's a ground-breaking patented technology</p>
								</div>
							</div> <!-- end of tab_a -->
							
							<!-- Tab_b -->
							<div class="tab-pane fade" id="tab_b">
								<div class="row">
									<div class="col-md-7">
										<img class="img-responsive" src="http://placehold.it/678x448/0efc73/fff/" alt="tab b image">
									</div>
									<div class="col-md-5">
										<div class="tab-b-right-pane">
											<h3>Create More With Lyra</h3>
											<p>Use Lyra's revolutionary algorithms to plan your company's sales and marketing strategy. Seek help from your team using our skills matching technology.</p>
											<p>Creativity is encouraged with smart context aware instruments and intelligent wizards.</p>
											<a class="read-more" href="#">Find out more ››</a>
										</div>
									</div>
								</div>
							</div> <!-- end of tab_b -->
							
							<!-- Tab_c -->
							<div class="tab-pane fade" id="tab_c">
								<div class="row">
									<div class="col-md-5">
										<div class="tab-c-left-pane">
											<h3>Manage Better With Lyra</h3>
											<p>Manage your sales and customer relationships like a pro with Lyra SaaS application. This cloud based solution can be used from anywhere in the world.</p>
											<p>Quality support is available 24/7 thanks to our international call center. We also handle pre-sales</p>
											<a class="read-more" href="#">Find out more ››</a>
										</div>
									</div>
									<div class="col-md-7">
										<img class="img-responsive" src="http://placehold.it/1500x1000/0efc73/fff/" alt="tab c image">
									</div>
								</div>
							</div> <!-- end of tab_c -->
						</div><!-- end of tab content -->
					</div>
				</div> <!-- end of row -->
			</div> <!-- end of container -->
		</div> <!-- end of features -->
		
		
		<!-- Description -->
		<div id="description">
			<!-- First Pane -->
			<div class="row">
				<div class="col-md-6 col-md-push-6">
					<div class="row">
						<div class="img-wrapper-right">
						</div>
					</div>
				</div>
				<div class="col-md-6 col-md-pull-6">
					<div class="container description-first-pane">
						<h3>Make Connections Faster</h3>
						<p>Lyra was designed with a very clear objective in mind: help managers and team members make connections faster that lead to more sales and improved relationships with customers.</p>
						<ul>
							<li><span class="ti-thumb-up"></span>We love creating <a href="#">technical solutions</a> that bring people together and help them reach their objectives faster</li>
							<li><span class="ti-thumb-up"></span>Customers reported increased performance in all business areas</li>
							<li><span class="ti-thumb-up"></span>Objectives are met daily and you are in control</li>
						</ul>
						<a class="button popup-with-move-anim" href="#small-dialog">FAQ POPUP</a>
					</div>
				</div>
			</div> <!-- end of row -->
			
			<!-- Second Pane -->			
			<div class="row">
				<div class="col-md-6">
					<div class="row">
						<div class="img-wrapper-left">
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="container description-second-pane">
						<h3>Improved Performance</h3>
						<p>Performance is something every manager strives to improve. With Lyra, managers get access to the necessary business tools in order to improve their team's performance.</p>
						<div class="progress">
							<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
								Improved Productivity 70%
							</div>
						</div>
						<div class="progress">	
							<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
								Goals Realization 90%
							</div>
						</div>
						<div class="progress">
							<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
								Accuracy Increase 80%
							</div>
						</div>
						<a class="button" href="#">DISCOVER</a>
					</div>
				</div>
			</div> <!-- end of row -->
		</div> <!-- end of description -->
		<div class="clearfix"></div>
		
		
		<!-- Magnific PopUp FAQ PopUp Content -->
		<!-- mfp-hide class is required to keep the content hidden until the visitor clicks the button -->
		<div id="small-dialog" class="zoom-anim-dialog mfp-hide">
			<h3>Frequently Asked Questions</h3>
			<div class="faq-row">
				<div class="bullet-number">1</div>
				<div class="faq-text">
					<p class="faq-question">First question is about Lyra's minimum usage requirements like Internet speed and storage space?</p>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
				</div>
			</div>
			<div class="faq-row">
				<div class="bullet-number">2</div>
				<div class="faq-text">
					<p class="faq-question">Second question concerns anyone interested in performance issues, troubleshooting and others?</p>
					<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful pointing has no control.</p>
				</div>
			</div>
			<div class="faq-row">
				<div class="bullet-number">3</div>
				<div class="faq-text">
					<p class="faq-question">Third question is about some of the app's features and their impact on business performance?</p>
					<p>One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar. The Big Oxmox advised her not to do so, because there were thousands of bad commas, wild question marks and devious semikoli.</p>
				</div>
			</div>
			<div class="faq-row">
				<div class="bullet-number">4</div>
				<div class="faq-text">
					<p class="faq-question">Forth question is very important to all the registered users and the website visitors?</p>
					<p>Put her initial into the belt and made herself on the way. When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of anyone concerned.</p>
				</div>
			</div>
			<div class="faq-row">
				<div class="bullet-number">5</div>
				<div class="faq-text">
					<p class="faq-question">Fifth question answers the all important question: why should I use Lyra and not something else?</p>
					<p>Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
				</div>
			</div>
		</div> <!-- end of magnific popup -->
		
		
		
		<!-- Pricing -->
		<div id="pricing">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h2>Packages For Any Budget</h2>
						<p class="sub-heading">Pricing options for any company size and budget. Choose the best package for your company's requirements</p>
					</div>
					<div class="col-sm-6 col-md-3">
						<div class="pricing-pane">
							<p class="price">$Free</p>
							<h4>30 Days Free Trial</h4>
							<hr>
							<p><span class="ti-thumb-up"></span>5 Qualified Designers</p>
							<p><span class="ti-thumb-up"></span>5 Expert Developers</p>
							<p><span class="ti-thumb-up"></span>5 Account Managers</p>
							<p><span class="ti-thumb-up"></span>5 Marketing Resources</p>
							<p><span class="ti-thumb-up"></span>5 Support Tickets</p>
							<a class="button" href="#">REGISTER</a>
						</div>
					</div>
					<div class="col-sm-6 col-md-3">
						<div class="pricing-pane">
							<p class="price">$12</p>
							<h4>Economy</h4>
							<hr>
							<p><span class="ti-thumb-up"></span>10 Qualified Designers</p>
							<p><span class="ti-thumb-up"></span>10 Expert Developers</p>
							<p><span class="ti-thumb-up"></span>10 Account Managers</p>
							<p><span class="ti-thumb-up"></span>10 Marketing Resources</p>
							<p><span class="ti-thumb-up"></span>10 Support Tickets</p>
							<a class="button" href="#">REGISTER</a>
						</div>
					</div>
					<div class="col-sm-6 col-md-3">
						<div class="pricing-pane">
							<div class="label">
								<h5 class="best-value">Best Value</h5>
							</div>
							<p class="price">$19</p>
							<h4>Standard</h4>
							<hr>
							<p><span class="ti-thumb-up"></span>15 Qualified Designers</p>
							<p><span class="ti-thumb-up"></span>15 Expert Developers</p>
							<p><span class="ti-thumb-up"></span>15 Account Managers</p>
							<p><span class="ti-thumb-up"></span>15 Marketing Resources</p>
							<p><span class="ti-thumb-up"></span>15 Support Tickets</p>
							<a class="button" href="#">REGISTER</a>
						</div>
					</div>
					<div class="col-sm-6 col-md-3">
						<div class="pricing-pane">
							<p class="price">$26</p>
							<h4>Complete</h4>
							<hr>
							<p><span class="ti-thumb-up"></span>20 Qualified Designers</p>
							<p><span class="ti-thumb-up"></span>20 Expert Developers</p>
							<p><span class="ti-thumb-up"></span>20 Account Managers</p>
							<p><span class="ti-thumb-up"></span>20 Marketing Resources</p>
							<p><span class="ti-thumb-up"></span>20 Support Tickets</p>
							<a class="button" href="#">REGISTER</a>
						</div>
					</div>
				</div> <!-- end of row -->
			</div> <!-- end of container -->
		</div> <!-- end of pricing -->
		
		
		<!-- Video -->
		<div id="video">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h2>Video is Always Better</h2>
						<p class="sub-heading">Lyra was developed to improve team collaboration and communication while enabling users to focus on goals</p>
					</div>
					<div class="col-md-8 col-md-offset-2">
						<div class="embed-responsive embed-responsive-16by9">
							<iframe src="https://www.youtube.com/embed/Ey1lkwYGSC0" allowfullscreen></iframe>
						</div>
					</div>
				</div> <!-- end of row -->
			</div> <!-- end of container -->
		</div> <!-- end of video -->
		
		
		<!-- Testimonials -->
		<div id="testimonials">	
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h2>What Customers Say About Us</h2>
						<p class="sub-heading">Don't take our word for it, listen to our customers' voice. They talk from their heart</p>
					</div>
					<div class="col-md-12 text-center">
						
						<!-- Swiper -->
						<div class="swiper-container">
							<div class="swiper-wrapper">
								<div class="swiper-slide">
									<img class="customer-head" src="http://placehold.it/70x70/0efc73/fff/" alt="customer head 1">
									<p>"Besides being built to handle team communication, Lyra works great for project management too. Generally it's helpful for any process where you have lots of team members that need to be controlled and evaluated. Lyra is the right app for anyone that wants to be organized and professional in the way they interact with each other."</p> 
									<h4>Ron Gates, MoveUp - General Manager</h4>
									<img class="logo-customers-1 testimonials-logo" src="http://placehold.it/354x60/0efc73/fff/" alt="customer logo 1">
								</div>
								<div class="swiper-slide">
									<img class="customer-head" src="http://placehold.it/70x70/0efc73/fff/" alt="customer head 1">
									<p>"I've been searching for a capable online application that can help us better manage our team communication and Lyra is just that, a reliable cloud based app that enables better team collaboration. I recommend it to everyone that has big projects to manage and large teams to work with. You will not regret downloading it."</p> 
									<h4>Lara Smith, OnlyTwo - Managing Partner</h4>
									<img class="logo-customers-2 testimonials-logo" src="http://placehold.it/332x60/0efc73/fff/" alt="customer logo 2">
								</div>
								<div class="swiper-slide">
									<img class="customer-head" src="http://placehold.it/70x70/0efc73/fff/" alt="customer head 1">
									<p>"Lyra's development team handled all our request beautifully and managed to integrate the app into our business flow without major problems. The app runs smoothly and has a fluid User Interface that can be used right away without any training. The feature that impressed me the most was the reporting section."</p> 
									<h4>Bob Dole, Ignite - IT Manager</h4>
									<img class="logo-customers-3 testimonials-logo" src="http://placehold.it/252x56/0efc73/fff/" alt="customer logo 3">
								</div>
							</div>
							
							<!-- If we need navigation buttons -->
							<div class="swiper-button-prev"></div>
							<div class="swiper-button-next"></div>
						</div>
					</div> 
				</div> <!-- end of row -->
			</div> <!-- end of container -->
		</div> <!-- end of testimonials -->
		
		
		<!-- Contact -->
		<div id="contact">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h2>Contact Information</h2>
						<p class="sub-heading">We're passionate about creating business applications that can be used anytime, anywhere</p>
					</div>
					<div class="col-md-6">
						<img class="img-responsive" src="http://placehold.it/2000x1331/0efc73/fff/" alt="about us image">
					</div>
					<div class="col-md-6">
						
						<!-- Contact Form -->
						<form id="ContactForm" data-toggle="validator">
							<div class="form-same-line form-group">
								<input type="text" class="form-control" id="cfirstname" placeholder="First Name" required>
							</div>
							<div class="form-same-line form-group">
								<input type="text" class="form-control" id="clastname" placeholder="Last Name" required>
							</div>
							<div class="form-same-line form-group">
								<input type="email" class="form-control" id="cemail" placeholder="Email" required>
							</div>
							<div class="form-group">
								<textarea class="form-control" id="cmessage" placeholder="Write your message here" rows="4" required></textarea>
							</div>
							<div class="text-center">
								<button type="submit" class="button-small-solid">SUBMIT MESSAGE</button>
								<div id="cmsgSubmit" class="h3 text-center hidden"></div>
							</div>
						</form> <!-- end of contact form -->
					</div>
				</div> <!-- end of row -->
			</div> <!-- end of container -->
		</div> <!-- end of contact -->
		
		
		<!-- Footer -->
		<div id="footer">
			<div class="container">
				<div class="row">
					<div class="col-sm-3">
						<h4>Our Office Address</h4>
						<p>22 Innovative Area, San Francisco, Bay Area, CA 94043, USA</p>
					</div>
					<div class="col-sm-3">
						<h4>Contact Details</h4>
						<p>Tel: 0040 720 488 377; 0040 372 34 56 78 <a href="mailto:office@lyra.com">office@lyra.com</a>, <a href="#">www.lyra.com</a></p>
					</div>
					<div class="col-sm-3">
						<h4>Official Partners</h4>
						<p><a href="privacy-and-security-policy.html">Privacy and Security Policy</a>, <a href="terms-and-conditions.html">Terms and Conditions</a>, <a href="">HostingPartner</a></p>
					</div>
					<div class="col-sm-3">
						<h4>Social Networks</h4>
						<a href="#"><span class="social-icons ti-facebook"></span></a>
						<a href="#"><span class="social-icons ti-twitter"></span></a>
						<a href="#"><span class="social-icons ti-google"></span></a>
						<a href="#"><span class="social-icons ti-linkedin"></span></a>
						<a href="#"><span class="social-icons ti-instagram"></span></a>
					</div>
					<div class="clearfix"></div>
					<div class="col-md-12">
						<p class="copyright">Copyright 2017 © Lyra - SaaS App Landing Page Template by <a href="#">Inovatik</a> | <a class="back-to-top scrolling" href="#header">Back to Top <span class="ti-arrow-circle-up"></span></a></p>
					</div>
				</div> <!-- end of row -->
			</div> <!-- end of container -->
		</div> <!-- end of footer -->
	</div> <!-- end of main wrapper -->
	
	
	<!-- Scripts -->
	<script src="js/jquery-2.2.4.min.js" type="text/javascript"></script> <!-- jQuery v2.2.4 - necessary for Bootstrap's JavaScript plugins -->
	<script src="js/bootstrap.min.js" type="text/javascript"></script> <!-- Bootstrap v3.3.7 -->
	<script src="js/jquery.easing.min.js" type="text/javascript"></script> <!-- jQuery Easing v1.3 for smooth scrolling between anchors-->
	<script src="js/validator.min.js" type="text/javascript"></script> <!--  Validate the Contact Form -->
	<script src="js/morphext.min.js" type="text/javascript"></script> <!-- Rotating text in the header-->
	<script src="js/swiper.min.js" type="text/javascript"></script> <!-- Swiper v3.4.1 for testimonials slider -->
	<script src="js/jquery.magnific-popup.js" type="text/javascript"></script> <!-- Magnific Popup v1.1.0 for lightboxes -->
	<script src="js/scripts.js" type="text/javascript"></script> <!--  Validate the Contact Form -->
</body>
</html>